.editorContainer {
  padding: 8px 12px;
  min-height: 480px;
  cursor: text;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
  &.readOnly {
    border: none;
  }
}
.container {
  margin: 12px auto;
  padding: 0 12px;
  max-width: 800px;
}